In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [2]:
data=pd.read_csv("D:\\musk_csv.csv")

In [3]:
data.head()

,ID,molecule_name,conformation_name,f1,f2,f3,f4,f5,f6,f7,...,f158,f159,f160,f161,f162,f163,f164,f165,f166,class
0,1,MUSK-211,211_1+1,46,-108,-60,-69,-117,49,38,...,-308,52,-7,39,126,156,-50,-112,96,1
1,2,MUSK-211,211_1+10,41,-188,-145,22,-117,-6,57,...,-59,-2,52,103,136,169,-61,-136,79,1
2,3,MUSK-211,211_1+11,46,-194,-145,28,-117,73,57,...,-134,-154,57,143,142,165,-67,-145,39,1
3,4,MUSK-211,211_1+12,41,-188,-145,22,-117,-7,57,...,-60,-4,52,104,136,168,-60,-135,80,1
4,5,MUSK-211,211_1+13,41,-188,-145,22,-117,-7,57,...,-60,-4,52,104,137,168,-60,-135,80,1

In [4]:
data.columns

Index(['ID', 'molecule_name', 'conformation_name', 'f1', 'f2', 'f3', 'f4',
       'f5', 'f6', 'f7',
       ...
       'f158', 'f159', 'f160', 'f161', 'f162', 'f163', 'f164', 'f165', 'f166',
       'class'],
      dtype='object', length=170)

In [5]:
data.shape

(6598, 170)

In [6]:
data.describe()

,ID,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f158,f159,f160,f161,f162,f163,f164,f165,f166,class
count,6598.00000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,...,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000,6598.000000
mean,3299.50000,58.945135,-119.128524,-73.146560,-0.628372,-103.533495,18.359806,-14.108821,-1.858290,-86.003031,...,-184.798272,-75.795696,-26.073204,64.616702,112.037739,201.760230,-47.488330,-150.259927,41.770233,0.154138
std,1904.82287,53.249007,90.813375,67.956235,80.444617,64.387559,80.593655,115.315673,90.372537,108.326676,...,107.819514,127.861271,69.727964,100.861935,72.835040,59.526751,55.069365,76.019023,94.116085,0.361108
min,1.00000,-31.000000,-199.000000,-167.000000,-114.000000,-118.000000,-183.000000,-171.000000,-225.000000,-245.000000,...,-328.000000,-219.000000,-136.000000,-120.000000,-69.000000,73.000000,-289.000000,-428.000000,-471.000000,0.000000
25%,1650.25000,37.000000,-193.000000,-137.000000,-70.000000,-117.000000,-28.000000,-159.000000,-85.000000,-217.000000,...,-272.000000,-205.000000,-70.000000,-18.000000,71.000000,166.000000,-68.000000,-179.000000,-9.000000,0.000000
50%,3299.50000,44.000000,-149.000000,-99.000000,-25.000000,-117.000000,33.000000,27.000000,19.000000,-40.000000,...,-234.000000,-131.000000,-21.000000,61.500000,107.000000,191.000000,-60.000000,-150.000000,27.000000,0.000000
75%,4948.75000,53.000000,-95.000000,-19.000000,42.000000,-116.000000,74.000000,57.000000,61.000000,-21.000000,...,-80.000000,52.000000,9.000000,149.000000,129.000000,215.000000,-45.000000,-120.000000,119.000000,0.000000
max,6598.00000,292.000000,95.000000,81.000000,161.000000,325.000000,200.000000,220.000000,320.000000,147.000000,...,94.000000,179.000000,192.000000,411.000000,355.000000,625.000000,295.000000,168.000000,367.000000,1.000000

In [7]:
#data.isnull().sum()

In [8]:
#data.isnull().any()

In [9]:
#data.plot()

In [10]:
#data.plot.box(figsize=(10,15))

In [11]:
data.set_index("ID",inplace=True)

In [12]:
data.head()

,molecule_name,conformation_name,f1,f2,f3,f4,f5,f6,f7,f8,...,f158,f159,f160,f161,f162,f163,f164,f165,f166,class
ID,,,,,,,,,,,,,,,,,,,,,
1,MUSK-211,211_1+1,46,-108,-60,-69,-117,49,38,-161,...,-308,52,-7,39,126,156,-50,-112,96,1
2,MUSK-211,211_1+10,41,-188,-145,22,-117,-6,57,-171,...,-59,-2,52,103,136,169,-61,-136,79,1
3,MUSK-211,211_1+11,46,-194,-145,28,-117,73,57,-168,...,-134,-154,57,143,142,165,-67,-145,39,1
4,MUSK-211,211_1+12,41,-188,-145,22,-117,-7,57,-170,...,-60,-4,52,104,136,168,-60,-135,80,1
5,MUSK-211,211_1+13,41,-188,-145,22,-117,-7,57,-170,...,-60,-4,52,104,137,168,-60,-135,80,1

In [13]:
data.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            6589, 6590, 6591, 6592, 6593, 6594, 6595, 6596, 6597, 6598],
           dtype='int64', name='ID', length=6598)

In [14]:
data.columns

Index(['molecule_name', 'conformation_name', 'f1', 'f2', 'f3', 'f4', 'f5',
       'f6', 'f7', 'f8',
       ...
       'f158', 'f159', 'f160', 'f161', 'f162', 'f163', 'f164', 'f165', 'f166',
       'class'],
      dtype='object', length=169)

In [15]:
data.drop(["molecule_name","conformation_name"],axis=1,inplace=True)

In [16]:
data.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f158,f159,f160,f161,f162,f163,f164,f165,f166,class
ID,,,,,,,,,,,,,,,,,,,,,
1,46,-108,-60,-69,-117,49,38,-161,-8,5,...,-308,52,-7,39,126,156,-50,-112,96,1
2,41,-188,-145,22,-117,-6,57,-171,-39,-100,...,-59,-2,52,103,136,169,-61,-136,79,1
3,46,-194,-145,28,-117,73,57,-168,-39,-22,...,-134,-154,57,143,142,165,-67,-145,39,1
4,41,-188,-145,22,-117,-7,57,-170,-39,-99,...,-60,-4,52,104,136,168,-60,-135,80,1
5,41,-188,-145,22,-117,-7,57,-170,-39,-99,...,-60,-4,52,104,137,168,-60,-135,80,1

In [17]:
from sklearn.utils import shuffle

In [18]:
data=shuffle(data)

In [19]:
data.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f158,f159,f160,f161,f162,f163,f164,f165,f166,class
ID,,,,,,,,,,,,,,,,,,,,,
1266,115,58,-86,-77,-117,11,27,-94,-21,-21,...,-81,-137,35,254,290,143,-57,-116,60,0
1933,44,-103,-19,-85,-117,-14,-164,52,-229,-23,...,-99,31,-8,150,128,156,-65,-141,-2,0
1702,202,-7,-60,-69,-117,49,40,-164,-8,5,...,-307,51,-4,-56,243,172,-44,-116,120,0
920,46,-192,-151,33,-117,-75,43,7,-35,-54,...,-220,-205,19,154,133,190,-72,-175,5,1
1808,129,-192,-87,28,-117,72,27,-106,-21,-24,...,-145,-155,182,213,189,181,-54,-135,108,0

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
Y=data['class']

In [22]:
Y.shape

(6598,)

In [23]:
X=data.drop("class",axis=1)

In [24]:
X.shape

(6598, 166)

In [25]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=20,random_state=1)

In [26]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [27]:
forest=RandomForestRegressor(random_state=1)
#svm_model=svm.SVC()
kn_model=KNeighborsClassifier(n_neighbors=2)

In [42]:
forest.fit(X_train,Y_train)
#svm_model.fit(X_train,Y_train)
kn_model.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=2, p=2,
           weights='uniform')

In [43]:
forest_pred=forest.predict(X_test).round()
kn_pred=kn_model.predict(X_test).round()

In [44]:
print(accuracy_score(forest_pred,Y_test))
print(accuracy_score(kn_pred,Y_test))

1.0
1.0

In [45]:
print(confusion_matrix(kn_pred,Y_test))
print(confusion_matrix(forest_pred,Y_test))

[[17  0]
 [ 0  3]]
[[17  0]
 [ 0  3]]

In [46]:
print(classification_report(Y_test,forest_pred))
print(classification_report(Y_test,kn_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      1.00      1.00         3

   micro avg       1.00      1.00      1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      1.00      1.00         3

   micro avg       1.00      1.00      1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

In [47]:
import tensorflow as tf
import tensorflow as keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D,Activation,MaxPooling2D,Flatten,Dense,MaxPool2D,Dropout
from keras.utils import to_categorical

In [48]:
print(X.ndim)
print(X_test.shape[1])

2
166

In [49]:
#Y_train=to_categorical(Y_train)
#Y_test=to_categorical(Y_test)

In [50]:
model=tf.keras.Sequential([
    layers.Dense(64,activation='relu',input_shape=[X.shape[1]]),
    layers.Dense(64,activation='relu'),
    layers.Dense(1)])
optimizer = tf.keras.optimizers.RMSprop(0.001)
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                10688
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 14,913
Trainable params: 14,913
Non-trainable params: 0
_________________________________________________________________

In [51]:
model.compile(loss='mse',optimizer=optimizer, metrics=['accuracy'])
model.fit(X_train,Y_train, batch_size =20 , epochs =10)

Epoch 1/10
6578/6578 [==============================] - 2s 377us/step - loss: 273.4210 - acc: 0.5122
Epoch 2/10
6578/6578 [==============================] - 1s 89us/step - loss: 6.5807 - acc: 0.5733
Epoch 3/10
6578/6578 [==============================] - 1s 87us/step - loss: 0.2244 - acc: 0.8373
Epoch 4/10
6578/6578 [==============================] - 1s 83us/step - loss: 0.0998 - acc: 0.8910
Epoch 5/10
6578/6578 [==============================] - 1s 93us/step - loss: 0.0936 - acc: 0.9000
Epoch 6/10
6578/6578 [==============================] - 1s 85us/step - loss: 0.0922 - acc: 0.9019
Epoch 7/10
6578/6578 [==============================] - 1s 87us/step - loss: 0.0885 - acc: 0.9039
Epoch 8/10
6578/6578 [==============================] - 1s 89us/step - loss: 0.0875 - acc: 0.9059
Epoch 9/10
6578/6578 [==============================] - 1s 85us/step - loss: 0.0865 - acc: 0.9050
Epoch 10/10
6578/6578 [==============================] - 1s 90us/step - loss: 0.0846 - acc: 0.9085

In [52]:
test_pred = model.predict(X_test).flatten()

In [53]:
print(test_pred.shape)
print(test_pred.ndim)

(20,)
1

In [54]:
model.evaluate(X_test,  Y_test, verbose=2)

[0.021111957728862762, 0.949999988079071]

In [ ]:
#this model shows that 94 percentace accuracy have